    body {
        background-color: #f8f9fa;
    }

    .container-fluid {
        max-width: 1200px;
    }

    h2 {
        font-weight: 600;
    }

    button {
        font-weight: 500;
    }

    .mobile-image {
        width: 90%; 
        height: auto;
        max-height: 200px; 
        object-fit: cover;
        border-radius: 20px;
        display: block;
        margin: 0 auto 20px auto; 
    }

    .desktop-image {
        width: 100%;
        object-fit: cover;
        margin-left: 25%
    }

@media (max-width: 991.98px) {
    .row {
        flex-direction: column;
    }

    .col-lg-5 {
        max-width: 100%;
    }

    .col-lg-7 img {
        display: none;
    }
}
